/* 表单按键公共样式 */
* {
  color: #000000;
  font-size: 12px !important;
}
.el-button{
    margin:0px;
    margin-right: 8px;
}
.permissions_details_img {
    height: 20px;
    vertical-align: middle;
}
.border-radius{
    border-radius: 0px;
}
.pointer{
    cursor: pointer;
}
/* 通用蓝色按钮 */
.primary{
    background: #18598C;
    color: #FFFFFF;
    border-radius: 0px;
}
/* 通用container */
  .margin{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  /* 宽度80% */
  .width{
    width: 80%;
  }
hr{
  margin-top:15px;
  margin-bottom: 15px;
}
.ulnone{
  list-style: none;
  padding: 0px;
}
.padding-8px{
  padding: 8px;
}
/* img的middle */
.imgmiddle{
  vertical-align: middle;
}
